<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->


<script>
  $SCRIPT_ROOT = {{ request.script_root|tojson }};
</script>

<script src="{{url_for('static', filename='jquery.min.js')}}"></script>


<script>

	var giflist = [];
	var pos = 0;

  $(function() {

 	getGifList('latest.mp4');

	$('a#prev').bind('click', function() {

		if (pos == 0) {
			getGifList(giflist[pos]);
		}
		if (pos <= 0) {
				pos = 0;
		} else {
			pos--;
		}
	
		updatePlayer();
	
	  return false;
	});

	$('a#next').bind('click', function() {

		if (pos == giflist.length - 1) {
			pos = pos;			
		} else {
			pos++;
		}

		updatePlayer();

	  return false;
	});
	
  });

  function updatePlayer() {

  	var d = giflist[pos].split("/")[2].split(".mp4")[0];
  	var display = new Date("20"+d+":00Z").toString();

		$("#timestamp").text(display);
		$("#current").attr('src', giflist[pos]);
		$("#player").load();

  }

	function getGifList(current) {

	  $.getJSON($SCRIPT_ROOT + "/giflist", {a:(current)}, function(response) {
	  	newgifs = response.result;
	  	tmp = newgifs.concat(giflist);
	  	giflist = tmp;
	  	pos = response.result.length - 1;
	  });

	}


</script>

<html>
<title>baywatch</title>
<head>
	<style>
		code {color:white; font-size:16px;}
		a {
		  text-decoration: none;
		  display: inline-block;
		  padding: 8px 16px;
		  background-color: #f1f1f1;
		  color: black;
		}
		a:hover {
		  background-color: #ddd;
		  color: white;
		}
	</style>
</head>

<body background="{{url_for('static', filename='background.jpg')}}">

<code>bay.watch</code>

<div align="center">
<video id="player" width="720" height="640" loop autoplay>
	<source src="{{url_for('static', filename='archive/latest.mp4')}}" type="video/mp4" id="current">
</video>
</div>

<div align="center">
	<code id="timestamp"></code>
</div>

<div align="center">
<a href="#" id="prev">&#8249;</a>
<a href="#" id="next">&#8250;</a>
</div>

</body>
</html>
